@model IEnumerable<summer19.Model.Requirements>


@{
    ViewData["Title"] = "Index";
}



<h3 style="margin-top:10px;margin-bottom:10px;">
    Requirements Search
</h3>


<table>
    <tr>
        <td>
            <button class="btn btn-primary" id="btnExport" onclick="fnExcelReport()" style="border-radius:10px;min-width:170px;">Excel</button>
        </td>
        <td>
            <button class="btn btn-primary" id="tab" onclick="createPDF()" style="border-radius:10px;min-width:170px;">PDF</button>
        </td>
        <td>
            <button class="btn btn-primary" id="mycopy" onclick="copyToClipboard()" style="border-radius:10px;min-width:170px;">Copy</button>
        </td>
        <td>
            <button class="btn btn-primary" id="tab1" onclick="printData()" style="border-radius:10px;min-width:170px;">Print</button>
        </td>
        <a asp-action="AddOrEdit"><button class="btn btn-primary" style="float:right;"><i class="fa fa-plus" style="margin:5px;" aria-hidden="true"></i>Add Requirement</button></a>

    </tr>
</table>

<br />
<table class=" table table-bordered table-hover" cellspacing="0" width="100%" id="table_1">
    <iframe id="txtArea1" style="display:none"></iframe>
    <thead>
        <tr>
            <th>
                Requirement
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>ATC</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="SubmissionList" asp-route-id="@item.Departement" data-toggle="tooltip" title="Assign To Candidate"> <img src="~/icon/138658-200.png" style="width:20px;"></a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit" aria-hidden="true"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" data-toggle="tooltip" title="Detail" aria-hidden="true"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
