@model IEnumerable<summer19.Model.Candidate>

@{
    ViewData["Title"] = "Index";
}



<h3 style="margin-top:10px;margin-bottom:10px;">
    Candidate Search
</h3>

<table>
    <tr>
        <td>
            <button class="btn btn-primary" id="btnExport" onclick="fnExcelReport()" style="border-radius:10px;min-width:170px;">Excel</button>
        </td>
        <td>
            <button class="btn btn-primary" id="tab" onclick="createPDF()" style="border-radius:10px;min-width:170px;">PDF</button>
        </td>
        <td>
            <button class="btn btn-primary" id="mycopy" onclick="copyToClipboard()" style="border-radius:10px;min-width:170px;">Copy</button>
        </td>
        <td>
            <button class="btn btn-primary" id="tab1" onclick="printData()" style="border-radius:10px;min-width:170px;">Print</button>
        </td>
        <a asp-action="Create" asp-controller="Candidatesadd"><button class="btn btn-primary" style="float:right;" value="Add"><i class="fa fa-plus" style="margin:5px;" aria-hidden="true"></i>Add Candidate</button></a>
    </tr>
</table>

<br />
<table class="table table-bordered table-hover" cellspacing="0" width="100%" id="table_1">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Department
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hire)
            </th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.Jobcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th> Resumes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobcategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    <a href="~/Files/@item.Resumes" target="_blank" data-toggle="tooltip" title="Resume">
                        <img src="~/icon/pdf.png" style="width:50px;" />
                    </a>
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit" aria-hidden="true"></i></a>|
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" data-toggle="tooltip" title="Detail" aria-hidden="true"></i></a>|
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
