@model IEnumerable<summer19.Model.Candidate>

@{
    ViewData["Title"] = "Index";
}

    @foreach(var i in Model)
    {
        <h3>Requirement List [@Html.DisplayFor(modelItem => i.Departement)]</h3>
        break;
    }



<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Department
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hire)
            </th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.Jobcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th> Resumes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comptetenices)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobcategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resumeupload)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resumes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>