@model IEnumerable<summer19.Model.Candidate>

@{
    ViewData["Title"] = "Index";
}

    @foreach(var i in Model)
    {
        <h3>Submission List [@Html.DisplayFor(modelItem => i.Departement)]</h3>
        break;
    }

<style>


    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        float: right;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input.default:checked + .slider {
        background-color: #444;
    }

    input.primary:checked + .slider {
        background-color: #2196F3;
    }

    input.success:checked + .slider {
        background-color: #8bc34a;
    }

    input.info:checked + .slider {
        background-color: #3de0f5;
    }

    input.warning:checked + .slider {
        background-color: #FFC107;
    }

    input.danger:checked + .slider {
        background-color: #f44336;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Department
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hire)
            </th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.Jobcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th> Resumes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobtitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comptetenices)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jobcategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resumes)
                </td>
                <td>
                    <label class="switch ">
                        <input type="checkbox" class="primary">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>
